<ecl-banner
    [variant]="oeParagraphsVariant"
    isFullWidth="fieldOeBannerFullWidth"
    [isCentered]="fieldOeBannerAlignment === 'center'"
    [eclSize]="fieldOeBannerSize"
    >
    <picture eclBannerPicture *ngIf="fieldOeMedia && oeParagraphsVariant !== 'plain-background'">
      <img eclBannerImage src="{{ fieldOeMedia.mediaFileUrl.path }}" alt="{{ fieldOeMedia.mediaFileAlt }}" />
    </picture>
  <div eclBannerTitle *ngIf="fieldOeTitle">
    <span eclBannerTitleText>{{ fieldOeTitle }}</span>
  </div>
  <div eclBannerCredit *ngIf="credit">{{ credit }}</div>
  <p eclBannerDescription *ngIf="fieldOeText">
    <span eclBannerDescriptionText>{{ fieldOeText }}</span>
  </p>
  <a eclLink *ngIf="fieldOeLink?.title" routerLink="{{ fieldOeLink.uri?.path }}" variant="cta">
    <span eclLinkLabel>{{ fieldOeLink.title }}</span>
    <ecl-icon icon="corner-arrow" transform="rotate-90"></ecl-icon>
  </a>
</ecl-banner>
