<ecl-banner
    variant="text-box">
    <picture eclBannerPicture>
      <img eclBannerImage src="https://inno-ecl.s3.amazonaws.com/media/examples/example-image.jpg" alt="alternative text" />
    </picture>
  <div eclBannerTitle>
    <span eclBannerTitleText>EU Budget for the future</span>
  </div>
  <div eclBannerCredit>© Copyright or credit</div>
  <p eclBannerDescription>
    <span eclBannerDescriptionText>Innovation, economy, environment and geopolitics</span>
  </p>
  <a eclLink routerLink="/" variant="cta">
      <span eclLinkLabel>Subscribe</span>
      <ecl-icon icon="corner-arrow" transform="rotate-90"></ecl-icon>
  </a>
</ecl-banner>
