<div *ngIf="homepageData">
  <div *ngFor="let paragraph of homepageData.data.content.paragraphs" class="ecl-container ecl-u-mb-2xl">
    <ng-container *ngIf="paragraph.__typename === 'ParagraphOeRichText'">
      <app-ecl-paragraph-oe-rich-text [fieldOeTextLong]="paragraph.fieldOeTextLong"></app-ecl-paragraph-oe-rich-text>
    </ng-container>
    <ng-container *ngIf="paragraph.__typename === 'ParagraphOeQuote'">
      <app-ecl-blockquote
        [fieldOePlainTextLong]="paragraph.fieldOePlainTextLong"
        [fieldOeText]="paragraph.fieldOeText"
        [imageUrl]="paragraph.imageUrl"
        [imageAlt]="paragraph.imageAlt">
      </app-ecl-blockquote>
    </ng-container>
    <ng-container *ngIf="paragraph.__typename === 'ParagraphOeAccordion'">
      <app-ecl-paragraph-oe-accordion
        [fieldOeParagraphs]="paragraph.fieldOeParagraphs">
      </app-ecl-paragraph-oe-accordion>
    </ng-container>
    <ng-container *ngIf="paragraph.__typename === 'ParagraphOeBanner'">
      <app-ecl-paragraph-oe-banner
        [fieldOeText]="paragraph.fieldOeText"
        [fieldOeTitle]="paragraph.fieldOeTitle"
        [credit]="paragraph.credit"
        [oeParagraphsVariant]="paragraph.oeParagraphsVariant"
        [fieldOeBannerAlignment]="paragraph.fieldOeBannerAlignment"
        [fieldOeLink]="paragraph.fieldOeLink"
        [fieldOeMedia]="paragraph.fieldOeMedia">
      </app-ecl-paragraph-oe-banner>
    </ng-container>
    <ng-container *ngIf="paragraph.__typename === 'featured'">
      <app-ecl-featured-item
        [description]="paragraph.description"
        [isExtended]="paragraph.isExtended"
        [title]="paragraph.title"
        [alignment]="paragraph.alignment"
        [imageCaption]="paragraph.imageCaption"
        [imageUrl]="paragraph.imageUrl"
        [imageAlt]="paragraph.imageAlt">
      </app-ecl-featured-item>
    </ng-container>
  </div>
</div>
