<figure class="ecl-blockquote">
  <div class="ecl-blockquote__body">
    <blockquote class="ecl-blockquote__quote">
      <p class="ecl-blockquote__citation" lang="en">{{ fieldOePlainTextLong }}</p>
    </blockquote>
    <footer class="ecl-blockquote__attribution" *ngIf="fieldOeText">
      <cite class="ecl-blockquote__author">{{ fieldOeText }}</cite>
    </footer>
  </div>
  <picture class="ecl-picture ecl-blockquote__picture" *ngIf="imageUrl">
    <img class="ecl-blockquote__image"
      [src]="imageUrl" alt="Image alternative text" />
  </picture>
</figure>
