<ecl-banner
    variant="image-overlay">
    <picture eclBannerPicture *ngIf="imageUrl">
      <img eclBannerImage src="{{ imageUrl }}" alt="alternative text" />
    </picture>
  <div eclBannerTitle *ngIf="title">
    <span eclBannerTitleText>{{ title }}</span>
  </div>
  <div eclBannerCredit *ngIf="credit">{{ credit }}</div>
  <p eclBannerDescription>
    <span eclBannerDescriptionText>{{ description }}</span>
  </p>
  <a eclLink routerLink="/" variant="cta">
      <span eclLinkLabel>Subscribe</span>
      <ecl-icon icon="corner-arrow" transform="rotate-90"></ecl-icon>
  </a>
</ecl-banner>
