<section
  class="ecl-banner ecl-banner--m ecl-banner--centered"
  [ngClass]="{ 
    'ecl-banner--plain-background': !image,
    'ecl-banner--image-overlay': image 
  }"
>
  <ng-container *ngIf="image">
    <picture class="ecl-picture ecl-banner__picture" [innerHTML]="image"></picture>
  </ng-container>
  <div class="ecl-container">
    <div class="ecl-banner__container">
      <div class="ecl-banner__content">
        <ng-container *ngIf="title">
          <div class="ecl-banner__title">
            <span class="ecl-banner__title-text">
              {{ title }}
            </span>
          </div>
        </ng-container>
        <p class="ecl-banner__description">
          <span class="ecl-banner__description-text">
            {{ description }}
          </span>
        </p>
      </div>
    </div>
  </div>
</section>
