<div *ngIf="homepageData">
  <div *ngFor="let paragraph of homepageData.data.content.paragraphs" class="ecl-container ecl-u-mb-2xl">
    <ng-container *ngIf="paragraph.__typename === 'ParagraphOeRichText'">
      <app-ecl-paragraph-oe-rich-text [fieldOeTextLong]="paragraph.fieldOeTextLong"></app-ecl-paragraph-oe-rich-text>
    </ng-container>
    <ng-container *ngIf="paragraph.__typename === 'ParagraphOeQuote'">
      <app-ecl-paragraph-oe-quote
        [fieldOePlainTextLong]="paragraph.fieldOePlainTextLong"
        [fieldOeText]="paragraph.fieldOeText"
        [imageUrl]="paragraph.imageUrl">
      </app-ecl-paragraph-oe-quote>
    </ng-container>
    <ng-container *ngIf="paragraph.__typename === 'accordion'">
      <app-ecl-accordion
        [accordionItems]="paragraph.accordionItems">
      </app-ecl-accordion>
    </ng-container>
    <ng-container *ngIf="paragraph.__typename === 'banner'">
      <app-ecl-banner
        [description]="paragraph.description"
        [title]="paragraph.title"
        [credit]="paragraph.credit"
        [variant]="paragraph.variant"
        [isCentered]="paragraph.isCentered"
        [imageUrl]="paragraph.imageUrl">
      </app-ecl-banner>
    </ng-container>
  </div>
</div>
